* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    min-height: 70px;
    background-color: #14161A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
color: white;
}

.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    height:50px;
    margin-right: 10px;

    
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: #0e811d;
}

@media (max-width: 440px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}